#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #4D4DFF;
}

#main .nav-pills > li > a:hover {
  background-color: #4D4DFF;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #4D4DFF;
}

#nav-top span.glyphicon {
  color: #4D4DFF;
}

#table-of-contents header{
    color:#4D4DFF;
}

#table-of-contents h2{
    background-color:#4D4DFF;
}

#main a {
    background-image: linear-gradient(180deg,#4D4DFF,#4D4DFF);
    color:#aaaaaa;
}

a:hover{
    color:#3d1308
}

a:visited{
    color:#3d1308
}

/* Auto-expand div to fit wide graphs */

/* Greek characters written as MathJax equations */
/* Need to match header colours */
/* If in navbar, don't change (.not isn't work) <- need Javascript for that, to
 * access parent selectors */
/* Need some regex as well for the 1-6 */
/* :not(.nav) #MathJax-Span-1, */
/* :not(.nav) #MathJax-Span-2, */
/* :not(.nav) #MathJax-Span-3, */
/* :not(.nav) #MathJax-Span-4, */
/* :not(.nav) #MathJax-Span-5, */
/* :not(.nav) #MathJax-Span-6{ */
/*     color: #4D4DFF; */
/* } */

